// Global Styles
:root {
    // Primary
    --IntroEmail: hsl(217, 28%, 15%);
    --MainBackground: hsl(218, 28%, 13%);
    --FooterBackground: hsl(216, 53%, 9%);
    --TestimonialsBackground: hsl(219, 30%, 18%);
    // Accent
    --CyanCTA: hsl(176, 68%, 64%);
    --BlueCTA: hsl(198, 60%, 50%);
    --RedError: hsl(0, 100%, 63%);
    // Neutral
    --White: hsl(0, 0%, 100%);
    // Fonts - Headings/CTA/Header Navigation
    --Raleway: 'Raleway', sans-serif; //400,700
    // Body
    --OpenSans: 'Open Sans', sans-serif; //400, 700
}

body {
    box-sizing: border-box;
    font-size: 14px;
    font-family: var(--OpenSans);
    background-color: var(--IntroEmail);
    color: var(--White);
}

nav {
    padding: 1rem;
    margin-top: .5rem;
    font-family: var(--Raleway);

    .navbar-brand img {
        max-width: 50%;
    }

    #navigation {
        text-align: center;
        padding-top: 1rem;
        margin-top: 1rem;
        background-color: var(--MainBackground);
        border-radius: 5px;
    
        .nav-link {
            color: var(--White);
        }
    }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    nav {
        #navigation {
            background-color: var(--IntroEmail);
            margin-bottom: 2rem;
        }
    }
 }


#hero {

    .bg-curve {
        background-image: url(/images/bg-curvy-mobile.svg);
        background-color: var(--IntroEmail);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 5rem;
    }

    #hero-img {
        width: 100%;
        padding: 1rem;
    }

    .top-cta {
        background-color: var(--MainBackground);

        h1 {
            font-family: var(--Raleway);
            font-weight: 700;
            font-size: 26px;
        }

        p {
            width: 90%;
            margin: 0 auto;
            font-size: 16px;
            margin-bottom: 2rem;
        }
    }

    .btn {
        background-color: var(--BlueCTA);
        color: var(--White);
        font-family: var(--Raleway);
        font-weight: 700;
        padding: 1rem 5rem;
        border-radius: 30px;
        margin-bottom: 8rem;
    }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #hero {
        .bg-curve {
            background-image: url(/images/bg-curvy-desktop.svg);
        }

        .top-cta {
            padding: 0 2.5rem;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #hero {
        #hero-img {
            width: 60%;
            margin-left: 13rem;
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #hero {
        #hero-img {
            height: 100%;
            margin: 0 15rem;
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }





#info-cards {
    background-color: var(--MainBackground);
    padding: 0 .5rem;

    .card {
        background-color: var(--MainBackground);
        border: 0;
        text-align: center;
        margin-bottom: 8rem;
    }

    .card-img-top {
        width: 30%;
        margin: 0 auto;
    }

    h2 {
        font-family: var(--Raleway);
        font-weight: 700;
    }

    p {
        font-family: var(--OpenSans);
    }
}





// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }


#productive {
    background-color: var(--MainBackground);
    padding: 8rem 0;
    margin-top: -8rem;

    img {
        width: 100%;
    }

    h3 {
        font-family: var(--Raleway);
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        margin-top: 2rem;
    }

    p {
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 2rem;
    }

    #underline {
        position: relative;

        ::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 175px;
            border-bottom: 2px solid var(--CyanCTA);
        }
    
        .btn {
            color: var(--CyanCTA);
            font-size: 16px;

            img {
                text-decoration: underline;
                height: 25px;
                width: 25px;
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #productive {
        #underline {
            .btn {
                margin-left: 1.5rem;
            }
        }
    }
 }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #productive {
        img {
            height: 100%;
        }

        #underline {
            img {
                margin: 0;
            }
        }
    }
 }

 //X-Large devices (large desktops, 1200px and up)
 @media (min-width: 1200px){
    #productive {
        #underline {
            .btn {
                margin-left: 2rem;
            }
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }

#testimonials {
    padding: 5rem 0;
    background-color: var(--MainBackground);
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 20px 80px;

    .quote {
        background-color: var(--TestimonialsBackground);
        box-shadow: 9px 6px 6px -2px #000000;
        margin: 2.5rem 1rem;
        border-radius: 10px;
        padding: 1.5rem;
        width: 90%;

        img {
            border-radius: 50%;
            height: 30%;
            padding-right: .5rem;
        }

        p {
            line-height: 2;
        }

        .profile {
            height: 50%;
            align-items: center;

            h4 {
                font-family: var(--Raleway);
                font-weight: 700;
                font-size: 18px;
                margin: 0;
            }

            p {
                font-family: var(--OpenSans);
                margin: 0;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #testimonials {
        background-position: 60px 80px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #testimonials {
        background-position: 60px 85px;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #testimonials {
        background-position: 130px 85px;

        .quote {
            width: 25%;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }

#access-bg {
    background-color: var(--MainBackground);
    padding: 2.5rem 0;
}
#access {
    background-color: var(--TestimonialsBackground);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 5px 6px 20px -4px #000000;
    position: relative;
    z-index: 99;
    
    h5 {
        font-family: var(--Raleway);
        font-weight: 700;
        font-size: 24px
    }

    p {
        font-family: var(--OpenSans);
        line-height: 2;
    }

    form {
        input {
            border: 0;
            border-radius: 30px;
            padding: 1rem;
        }
        
        button {
            color: var(--White);
            background-color: var(--BlueCTA);
            border-radius: 30px;
            padding: 15px 25px;
            margin: .5rem;
        }
    }
}



// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #access {
        max-width: 70%;
        margin: 0 auto;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }


#footer {
    background-color: var(--FooterBackground);
    padding-top: 15rem;
    margin-top: -15rem;
    z-index: 0;

    .d-flex img {
        height: 5%;
        padding-right: .5rem;
    }

    .nav-link {
        color: var(--White);
        font-family: var(--OpenSans);
        font-size: 22px;
    }

    .social-links {
        border: 1px solid var(--White);
        border-radius: 50%;
        color: var(--White); 
        font-size: 20px;
        padding: .8rem 1rem;
        margin: 0 1.5rem;
    }
    
}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #footer {
        margin-top: -10rem;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }

// Attribution Links
.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 2rem;
    margin: 0;
    background-color: var(--FooterBackground);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

