// Global Styles
:root {
    // Primary
    --IntroEmail: hsl(217, 28%, 15%);
    --MainBackground: hsl(218, 28%, 13%);
    --FooterBackground: hsl(216, 53%, 9%);
    --TestimonialsBackground: hsl(219, 30%, 18%);
    // Accent
    --CyanCTA: hsl(176, 68%, 64%);
    --BlueCTA: hsl(198, 60%, 50%);
    --RedError: hsl(0, 100%, 63%);
    // Neutral
    --White: hsl(0, 0%, 100%);
    // Fonts - Headings/CTA/Header Navigation
    --Raleway: 'Raleway', sans-serif; //400,700
    // Body
    --OpenSans: 'Open Sans', sans-serif; //400, 700
}

body {
    box-sizing: border-box;
    font-size: 14px;
    font-family: var(--OpenSans);
    background-color: var(--MainBackground);
    color: var(--White);
}

nav {
    background-color: var(--MainBackground);
    padding: 1rem;
    margin-top: .5rem;

    .navbar-brand img {
        max-width: 50%;
    }

    #navigation {
        text-align: center;
        padding-top: 2rem;
        background-color: var(--IntroEmail);
        border-radius: 5px;
    
        .nav-link {
            color: var(--White);
        }
    }
}


#hero {
    background-image: url(/images/bg-curvy-mobile.svg);
}

#hero #hero-img {
    width: 100%;
    padding: 1rem;
}


#info-cards .card {
    width: 18rem;
}


// Attribution Links
.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 2rem;
    margin: 0;
    background-color: var(--FooterBackground);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

